<!-- Doctype HTML5 -->
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta charset="UTF-8"/>
  <meta name="description" content="Description of the page less than 150 characters">
  <link rel = "stylesheet" type = "text/css" href = "./css/style.css">
  <title>Title</title>
</head>
<body>